ul, ol {
    color: #771002;
    list-style: none;
    background-color: powderblue;
}

#select {
    color: #0251a9;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.deactive {
    text-decoration: line-through;
}

#lecture > li {
    border: 1px solid slategray;
}